.user-dashboard-container>h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    padding-top: 3rem;
}

.user-dashboard-container>ul {
    list-style-type: none;
    padding: 0;
}

.user-dashboard-container>ul>li {
    position: relative;
    padding-left: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.user-dashboard-container>ul>li::before {
    content: "■";
    position: absolute;
    left: 0;
    font-size: 1rem;
    color: rgb(60, 180, 180);
    
}

.user-dashboard-container>ul>li>a,
.user-dashboard-container>ul>li>a:link,
.user-dashboard-container>ul>li>a:visited,
.user-dashboard-container>ul>li>a:active {
    color: aliceblue;
    text-decoration: none;
}