.create-project-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 1rem;
    margin-left: 1rem;
}

.create-project-name-div, .create-project-description-div, .create-project-search-div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}