.ticket-details-container{
    overflow: scroll;
}

.ticket-details-container > .ticket-title-preview > h1 {
    padding-top: 0.5rem;
}

select {
    padding: 0;
    border-radius: 0.5rem;
    border: 1px solid #2151C5;
    font-size: 0.8rem;
    background-color: #2151C5;
    color: white;
    cursor: pointer;
}

.ticket-details-delete-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.ticket-details-delete-div > button {
    padding: 0.5rem;
    width: 25%;
    border-radius: 0.5rem;
    border: 1px solid #c05261;
    font-size: 0.8rem;
    background-color: #c05261;
    color: white;
    cursor: pointer;
}