.sign-up-card {
    width: 100%;
    height: 100%;
    color: #FFF;
}

.title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.75rem;
    margin: 0 auto 4rem;
    width: 100%;
}

.sign-up-form {
    display: flex;
    padding: 0 3rem;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
    background-color: #222328;
    height: 100%;
    max-width: 44rem;
    max-height: 1300px;
    margin: auto;
}

.sign-up-form .sign-up-title {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sign-up-form label {
    text-align: left;
    margin: .7rem 0;
    width: 100%;
}

label span {
    float: right;
    color: rgb(255, 60, 0);
}

.sign-up-form input {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
    border-style: none;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    min-height: 40px;
    background-color: #D9D9D9;
}

.sign-up-form input:focus {
    outline: none;
    box-shadow: 0 0 0 .25rem #2151C5;
}

.submit-button {
    border: none;
    border-radius: 10px;
    padding: 1rem 0;
    margin: auto 0 7rem 0;
    width: 100%;
    font-size: 2.25rem;
    color: #fff;
    background-color: #2151C5;
    margin-top: 2rem;
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 .25rem #2151C5;
}

.login-signup-link {
    width: 100%;
    color: #e2e2e2;
    margin: 0 0 3rem 0;
}

.login-signup-link>a,
a:hover,
a:visited {
    color: #205eef;
    font-weight: 700;
}

.error-message {
    color: rgb(255, 60, 0);
}