.app-header {
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: .125rem solid black;
  background-color: #222328;
}

.app-header a {
  color: #fff !important;
  text-decoration: none;
}

.home-link {
  margin: 0 auto 0 1em;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
}

.main-content {
  padding-top: 5.6rem;
}

@media (min-width: 800px) {
  .home-link {
    font-size: 2em;
  }
  
}